img {
  margin: 0px;
  padding: 0px;
}

/* blue architecture https://images.unsplash.com/photo-1462556791646-c201b8241a94?auto=format&fit=crop&w=2090&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D */

.widget {
  border-style: none;
  border-width: 3.7px;
  border-color: #0D47A1;
  font-size: 2.7vh;
  color: white;
  font-weight: 900;
  background-image: linear-gradient(rgba(0,0,0, 0.27), rgba(0,0,0, 0.27)), url('https://images.unsplash.com/photo-1462556791646-c201b8241a94?auto=format&fit=crop&w=2545&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  background-size: cover;
  background-position: center;
  padding: 0;
  height: 197px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.btn {
  margin-right: 77%;
  margin-left: 13.7px;
  margin-bottom: 37px;
  margin-top: 1.7px;
}

.weather {
  text-align: right;
}

.space {
  margin: 17px;
}

.loginForm{
  color: white;
  border-style: solid;
  border-width: 7px;
  border-color: lightblue;
  margin-bottom: 30px;
  background-color: white;
  background-image: linear-gradient(rgba(0,0,0, 0.27), rgba(0,0,0, 0.27)), url('https://images.unsplash.com/photo-1462556791646-c201b8241a94?auto=format&fit=crop&w=2545&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  background-size: cover;
  background-position: bottom;
  padding: 17px;
}

.signupForm{
  border-style: solid;
  border-width: 7px;
  border-color: lightblue;
  color: white;
  background-image: linear-gradient(rgba(0,0,0, 0.27), rgba(0,0,0, 0.27)), url('https://images.unsplash.com/photo-1462556791646-c201b8241a94?auto=format&fit=crop&w=2545&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  border-style: solid;
  background-color: lightgreen;
  padding: 17px;
  padding-bottom: 27px;
}

.btn-googleplus {
    margin: 0;
    display: inline-block;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #b72213;
  }
  .btn-googleplus:link, .btn-googleplus:visited {
    color: #fff;
  }
  .btn-googleplus:active, .btn-googleplus:hover {
    color: #fff;
  }



/*         <img className="logo" src="https://i.imgur.com/wnAg9hG.png"></img>
 */
