img {
  margin: 0px;
  padding: 0px;
  margin-top: -10%;
}

body {
  padding-bottom: 50px;
}

.welcome {
  display: block;
 /*  background-image: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url('https://images.unsplash.com/photo-1495511623436-ba44aaee07cf?auto=format&fit=crop&w=1951&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D') !important;
  color: white;
  background-size: cover;
  background-attachment: fixed; */
}

.welcomeHeader {
}

.header {
  margin-bottom: 7px !important;
}

h1 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.range-slider {
    position: relative;
    height: 80px;
}

#until {
  padding-top: 337px !important;
  margin: 0px;
}

.extra-controls {
    position: relative;
    border-top: 3px solid #000;
    padding: 10px 0 0;
}

.investLink, .investLink:visited, .investLink:hover{
  display: block;
  margin-left: 50%;
  transform: translate(-50%, 0) !important;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  margin-top: 1.7%;
  color: rgba(25,118,210 ,0.7);
}

.investLink:hover {
  color: rgba(25,118,210 ,1);
  display: block;
  margin-left: 50%;
  transform: translate(-50%, 0) !important;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  margin-top: 1.7%;

}

.aTagNPV {
  background-color: white !important;
  color: rgba(25,118,210 ,0.7) !important;
  border: solid !important;
  border-width: 1px !important;
  border-color: rgba(25,118,210 ,0.7) !important;
  font-weight: 700 !important;
}

.aTagNPV:hover {
  background-color: rgba(25,118,210 ,0.7) !important;
  color: white !important;
  border: solid !important;
  border-width: 1px !important;
  border-color: rgba(25,118,210 ,0.7) !important;
  font-weight: 700 !important;
  transition: background-color 0.7s, color: 0.7s !important;
}

#barChart {
  width: 100%;
}

.aggregate-logo:hover {
  border: 7px !important;
  border-color: lightblue !important;
  transition: border 1s !important;
}

.companyLogo {
  display: block !important;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50% !important;
  padding: 7px;
}

.grid-container {
  /* display: grid;
  grid-template-columns: 50% 50%; */
  padding: 7px;
}

.item1, .item2 {
  width: 77% !important;
  margin: 0 auto !important;
}

.bankCharts {
  width: 100% !important;
  height: auto !important;
/*   margin-left: 15%;
 */}

 #bank-list {
  display: grid;
  grid-template-columns: 10% 45% 45%;
}

.bankInfo {
  display: none;
  width: 80%;
  grid-template-columns: 50% 50%;
  padding:  7px;
  margin: 7% auto;
}

#bankChart, #bankLineChart {
  width: 70% !important;
  height: auto !important;
  margin-left: 15%;
}

.bankListButton {
  width: 70%;
  padding: 3%;
  margin: 0 15% 0 15%;
  text-align: center;
  background-color: rgba(25,118,210 ,0.7);
  font-weight: 700;
  color: white;
  transition: background-color 0.2s;
}

.accountList {
/*   border: solid !important;
  border-color: rgba(0,121,107 ,1) !important; */
}

.list-element {
  width: 80% !important;
  padding: 3% !important;
  margin: 0 10% 0 10% !important;
}

/* .bankListButton:hover {
  background-color: rgba(244,67,54 ,0.77);
  color: rgba(183,28,28 ,1);
} */

.list-select, .list-select:hover {
  background-color: rgba(183,28,28 ,1);
  color: white;
}

.accountList, .bankList, .transactionsList {
  display: none;
}

.transaction-element {
  display: grid;
}


/* canvas {
  border: solid;
  border-width: 1vmin;
  border-color: rgba(100,181,246 ,1);
} */

.bar-item:link, .bar-item:visited {
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  width: 25%;
  padding: 1.7%;
  font-size: 2vh;
  color: rgba(26,35,126 ,1);
  background-color: rgba(187,222,251 ,0.2);
  font-weight: 500;
}

.bar-item:hover {
  background-color: rgba(187,222,251 ,1);
  color: rgba(26,35,126 ,1);
}

.bar-select:link, .bar-select:visited {
  background-color: rgba(26,35,126 ,0.9);
  color: white;
}

#averageExpensePie {
  height: 67% !important;
  width: 67% !important;
  margin: 0 auto !important;
}

/*#expensePie {
  height: 67% !important;
  width: 67% !important;
  margin: 0 auto !important;
}*/

.loader {
  display: none;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* .aggregate-logo:hover {
  -webkit-transform: scale(1.7);
  -ms-transform: scale(1.7);
  transform: scale(1.7);
 } */

.widget {
  border-style: none;
  border-width: 3.7px;
  border-color: #0D47A1;
  font-size: 2.7vh;
  color: white;
  font-weight: 900;
  background-image: linear-gradient(rgba(0,0,0, 0.27), rgba(0,0,0, 0.27)), url('https://images.unsplash.com/photo-1462556791646-c201b8241a94?auto=format&fit=crop&w=2545&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  background-size: cover;
  background-position: center;
  padding: 17px;
  height: 197px;
  width: 100%;
/*   margin-left: 11.5%;
  margin-right: 11.5%; */
}

i {
  height: 2px !important;
}

.header {
  font-size: 27px;
  color: #0288D1;
  font-weight: 700;
/*   font-family: 'Pacifico', sans-serif;
 */}

.jumbotron {
  padding: 17px;
  color: white !important;
  background-image: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url('https://images.unsplash.com/photo-1495511623436-ba44aaee07cf?auto=format&fit=crop&w=1951&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  background-attachment: fixed;
  background-size: cover;
  /* width: 77%;
  margin-left: 11.5%;
  margin-right: 11.5%; */
}

#btn, #btn:visited {
  margin-right: 77%;
  margin-left: 1.5% !important;
  margin-bottom: 1.7% !important;
  margin-top: 1.7% !important;
}



#btns {
  margin-right: 77%;
  margin-bottom: 15px;
  margin-left: 15px;
}

.weather {
  text-align: right;
}

#small {
  margin-left: 1.5% !important;
}

.signupImageUrl

.space {
  margin: 17px;
}

#input, #select {
  width: 97% !important;
  margin-left: 1.5% !important;
}

#inputaddon {
  margin-left: 1.5% !important;
  width: 97% !important;
}

.header {
  margin-top: 1.7% !important;
  margin-left: 1.5% !important;
  margin-right: 1.5% !important;
}

#label {
  margin-left: 1.5% !important;
}

#pinkbutton:hover {
  background-color: #E91E63 !important;
}

.loginForm{
  color: white;
  border-style: solid;
  border-width: 1.7px;
  border-color: lightblue;
  margin-bottom: 30px;
  background-color: white;
  background-image: linear-gradient(rgba(0,0,0, 0.50), rgba(0,0,0, 0.50)), url('https://images.unsplash.com/photo-1462556791646-c201b8241a94?auto=format&fit=crop&w=2545&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  background-size: cover;
  background-position: bottom;
  padding: 17px;
 /*  width: 77%;
  margin-left: 11.5%;
  margin-right: 11.5%; */
}

.signupForm{
  border-style: solid;
  border-width: 1.7px;
  border-color: lightblue;
  color: white;
  background-image: linear-gradient(rgba(0,0,0, 0.27), rgba(0,0,0, 0.27)), url('https://images.unsplash.com/photo-1462556791646-c201b8241a94?auto=format&fit=crop&w=2545&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  background-size: cover;
  border-style: solid;
  padding: 17px;
  padding-bottom: 27px;
  background-attachment: fixed;
  /* width: 77%;
  margin-left: 11.5%;
  margin-right: 11.5%; */
}

.npv {
  color: lightgreen;
}

.btn-googleplus {
    margin: 0;
    display: inline-block;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #b72213;
  }
  .btn-googleplus:link, .btn-googleplus:visited {
    color: #fff;
  }
  .btn-googleplus:active, .btn-googleplus:hover {
    color: #fff;
  }



/*         <img className="logo" src="https://i.imgur.com/wnAg9hG.png"></img>
 */

/* Login Page Styling */
.login-container {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0, 0.50), rgba(0,0,0, 0.50)), url('https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?auto=format&fit=crop&w=1650&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-box-shadow: inset 0 0 0px 9999px #102847;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
  border: none !important;
  color: #fff;
}

.loginForm-edit{
  padding: 17px;
  background-color: rgba(13,71,161, 1);
  text-decoration-color: #fff;
  color: #fff;
}

#loginEmail {
  background-color: rgba(13,71,161, 1) !important;
}

#loginPassword {
  background-color: rgba(13,71,161, 1) !important;
}

.signupForm-edit{
  padding: 17px;
  background-color: rgba(13,71,161, 1);
  color: #fff;
}

/* recurring expense */
.DayPickerInput {
  width: 97% !important;
  margin-left: 1.5% !important;
}

#get-btn {
  flex-grow: ;
  display: ms-flex;
  display: -webkit-flex;
}

.DayPickerInput > input {
  display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*Expenses Page*/

.navigator {
  grid-column: 1/3;
}

.expenses {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 50% 50%;
}

.expenseOneInput {
  grid-column: 1/2;
}

.expenseRecInput {
  grid-column: 2/3;
}

.expenseTable {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 50% 50%;
}

.expenseOneTable {
  grid-column: 1/2;
}

.expenseRecTable {
  grid-column: 2/3;
}

.expenseButtonGroup {
  grid-column: 1/2;
  display: flex;
}
.expenseButton {
  width: 8%;
  height: 80%;
  margin: 7px
}

.expenseButton2 {
  width: 13%;
/*
cryptoContainer
*/
.cryptoContainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.cryptoHeader {
  grid-column: 1/5;
}

.react-autosuggest__container {
  grid-column: 1/2;
}

.cryptoSearchBtn {
  grid-column: 3/4;
  height: 2.5em;
  width: 5em;
  margin-bottom: 1em !important;
  margin-left: 2em;
  margin-top: 0.9em;
}

#cryptoListLabel {
  grid-column: 1/2;
  font-size: x-large;
  margin-top: 1em;
  margin-left: 0.8em;
}

.listGroup {
  grid-column: 1/3;
  margin-left: 1.2em;
}

.cryptoChart {
  position: absolute;
  right: 1em;
  top: 1em;
}

#listGraph {
  grid-column:1/5;
  grid-row:2;
  padding: 5em;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

