img {
  margin: 0px;
  padding: 0px;
}

/* blue architecture https://images.unsplash.com/photo-1462556791646-c201b8241a94?auto=format&fit=crop&w=2090&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D */

.widget {
  border-style: solid;
  border-width: 7px;
  border-color: navy;
  font-size: 3.7vh;
  color: white;
  font-weight: 900;
  background-image: linear-gradient(rgba(0,0,0, 0.27), rgba(0,0,0, 0.27)), url('https://images.unsplash.com/photo-1462556791646-c201b8241a94?auto=format&fit=crop&w=2090&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  background-size: cover;
  background-position: center;
  width: 57%;
  margin: 0;
  padding: 0;
/*   margin-left: 5%;
  margin-right: 5%; */
  height: 197px;
}


.weather {
  text-align: right;
}
